@using VM = Chinook.ViewModel.ListItem;    
@model VM.AlbumListItem

@if (Model != null) {
    <a href="@(Url.Action("Index","Album", new { id = Model.AlbumId }))" class="list-group-item list-group-item-action">
        <img width="48" class="float-left mr-2" src="@(Url.Action("Image","Album", new { id = Model.AlbumId }))">

        <strong>@(Model.Name)</strong>
        <br/>
        <span>@(Model.ArtistName)</span>
    </a>
} else {
    <a class="list-group-item ">
        <strong>&nbsp;</strong>
        <br/>
        <span>&nbsp;</span>
    </a>
}    