@{
    var theme= "superhero";//"; /* , darkly*/
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">

    <!-- jquery -->
    <script type="text/javascript" src="~/lib/jquery/jquery.js"></script>

    <!-- popper.js -->
    <script type="text/javascript" src="~/lib/popper.js/umd/popper.js"></script>

    <!-- Bootstrap/bootswatch -->
    <!-- <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootswatch/@theme/bootstrap.min.css"> 
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>    
    

    <!-- font awesome -->
    <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js" defer></script>


    <!-- easy autocomplete -->
    <link href="~/lib/easy-autocomplete/easy-autocomplete.css" rel="stylesheet" type="text/css">
	  <script type="text/javascript" src="~/lib/easy-autocomplete/jquery.easy-autocomplete.js" ></script>    


    <!-- jquery-validate -->
    <script src="~/lib/jquery-validate/jquery.validate.js" ></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
  
    <script src="~/site.js"></script>

    @RenderSection("header", false)
</head>
<body>


  <nav class="navbar navbar-expand-md nav-justified navbar-dark bg-primary">
    <a class="navbar-brand" href="#" style="font-size:24px">
      <i class="fas fa-wind" style="vertical-align: middle;"></i><span class="h4">Chinook Media Store: Admin</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#"><strong>Admin</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

    </div>
  </nav>


  <!-- <i class="fas fa-shopping-cart"></i> -->
  <div class="container-fluid mt-2">
        @RenderBody()
  </div>

<script>
   
</script>

</body>
</html>